*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

body{
  background-color: var(--body-bg-color);
  font-family: Merriweather, sans-serif;
  color: var(--text-color);

}

main{
  display: flex;
  padding: 2rem;
  gap: 1rem;
}

.column1{
  flex-basis: 30rem;
}

.card{
  background-color: var(--bg-cards);
  border-radius: 20px;
  padding: 2rem;
}

footer{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

footer p{
  font-size: 0.8rem;
}

a{
  text-decoration: none;
  color: var(--text-color);
}








